* {


    font-family: 'Inter';

    font-weight: 300;
    font-size: 24px;
    line-height: 120%;

}

.logo{
    padding-top: 20px;
    margin-left: 50px;
    width: 15%;


}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 88px;
}

.text_area {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 15%;
    top: 5%;
    border: none;
    color: #0A3871;
    margin-top: 90px;
   
    font-family: "Inter";
    font-size: 32px;
    font-weight: 400;

}
.alerta{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
position: absolute;
width: 80%;
left: 15%;
top: 82%;
height: 18px;

color: #495057;
opacity: 0.8;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

}

.text_area::placeholder { 
    color: #0A3871 ;
outline: none;

}

.mensaje {
    display: inline-flex;
    width: 30%;

    left: 65%;
    top: 5%;
    background: white;
    background-image: url("/imagenes/Munheco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25%;
    position: absolute;
    text-align: center;
 
}

.solucion-encriptado{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;

}
#titulo_solucion {
    width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}



.botones{
display: flex;
flex-direction: row;
margin-top: 18px;
align-items: flex-start;
gap: 24px;
padding: 1% 0;
position: absolute;
width: 82%;
left: 15%;
top: 84%;
}
.btn_encriptador{
background: #0A3871;
border-radius: 24px;
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
padding: 24px;
gap: 8px;
color:white;
cursor: pointer;
width: 328px;
height: 67px;
margin-left: 30px;
}

.btn_desencriptador{ 
background:#D8DFE8 ;
border: 1px solid #0A3871;
border-radius: 24px;
display: flex;
color: #0A3871;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
padding: 24px;
gap: 8px;
cursor: pointer;
width: 328px;
height: 67px;
margin-left: 30px;

}
.btn_encriptador:hover,
.btn_desencriptador:hover{
margin: 0.1%;
width: 45%;
padding: 1.1%;
}
.copiar{
border: 1px solid #0A3871;
border-radius: 24px;
color: #0A3871;
cursor: pointer;
position: absolute;
width: 336px;
height: 67px;
top: 92%;
margin: 0%;
justify-content: center;
justify-items: center;
transition: background-color .5s;

}
.copiar:hover {
    margin: 0.1%;
    width: 50%;
    padding: 1.1%;
    position: absolute;
    justify-items: center;
    background-color:#0A3871;
    color: #D8DFE8;
    align-items: center;
}
.textoE{
top: 0%;
border: none;

}


